doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript",src='	http://static.ws.kukuplay.com/common/lib/jquery/v1.9.1/jquery-1.9.1.min.js')
    script(type='text/javascript', src='/javascripts/mainjs.js')
  body
    block index
    block content
    block haha
